<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='page2.css') }}">
      </head>
  <body>
    <h1> Water </h1>
    <p> Water is the key to all life on Earth. Even the planet needs water to continue supporting us and all other life! The Earth is covered in about 70% water and 30% land. Water doesn't just help us and other living creatures survive, but it plays a huge factor in the climate and agriculture. Without water all life on Earth would seize to exist. Unfortunately, we waste thousands of gallons of water a day! This must be changed! </p>
    <button> How much water is wasted a day? </button>
    <img src="https://images.pexels.com/photos/40784/drops-of-water-water-nature-liquid-40784.jpeg?cs=srgb&dl=pexels-pixabay-40784.jpg&fm=jpg">
  </body>
</html>